
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: 'Gilroy-Black';
	src: url('/gilroy-black.eot'); /* IE 9 Compatibility Mode */
	src: url('/gilroy-black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/gilroy-black.woff2') format('woff2'), /* Super Modern Browsers */
		url('/gilroy-black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/gilroy-black.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/gilroy-black.svg#gilroy-black') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-BlackItalic';
	src: url('/gilroy-blackitalic.eot'); /* IE 9 Compatibility Mode */
	src: url('/gilroy-blackitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/gilroy-blackitalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('/gilroy-blackitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/gilroy-blackitalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/gilroy-blackitalic.svg#gilroy-blackitalic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Bold';
	src: url('/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-BoldItalic';
	src: url('/gilroy-bolditalic.eot'); /* IE 9 Compatibility Mode */
	src: url('/gilroy-bolditalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/gilroy-bolditalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('/gilroy-bolditalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/gilroy-bolditalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/gilroy-bolditalic.svg#gilroy-bolditalic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-ExtraBoldItalic';
	src: url('/gilroy-extrabolditalic.eot'); /* IE 9 Compatibility Mode */
	src: url('/gilroy-extrabolditalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/gilroy-extrabolditalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('/gilroy-extrabolditalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/gilroy-extrabolditalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/gilroy-extrabolditalic.svg#gilroy-extrabolditalic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Heavy';
	src: url('/gilroy-heavy.eot'); /* IE 9 Compatibility Mode */
	src: url('/gilroy-heavy.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/gilroy-heavy.woff2') format('woff2'), /* Super Modern Browsers */
		url('/gilroy-heavy.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/gilroy-heavy.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/gilroy-heavy.svg#gilroy-heavy') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-HeavyItalic';
	src: url('/gilroy-heavyitalic.eot'); /* IE 9 Compatibility Mode */
	src: url('/gilroy-heavyitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/gilroy-heavyitalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('/gilroy-heavyitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/gilroy-heavyitalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/gilroy-heavyitalic.svg#gilroy-heavyitalic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-LightItalic';
	src: url('/gilroy-lightitalic.eot'); /* IE 9 Compatibility Mode */
	src: url('/gilroy-lightitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/gilroy-lightitalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('/gilroy-lightitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/gilroy-lightitalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/gilroy-lightitalic.svg#gilroy-lightitalic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Medium';
	src: url('/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-MediumItalic';
	src: url('/gilroy-mediumitalic.eot'); /* IE 9 Compatibility Mode */
	src: url('/gilroy-mediumitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/gilroy-mediumitalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('/gilroy-mediumitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/gilroy-mediumitalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/gilroy-mediumitalic.svg#gilroy-mediumitalic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Regular';
	src: url('/gilroy-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('/gilroy-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/gilroy-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('/gilroy-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/gilroy-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/gilroy-regular.svg#gilroy-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-RegularItalic';
	src: url('/gilroy-regularitalic.eot'); /* IE 9 Compatibility Mode */
	src: url('/gilroy-regularitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/gilroy-regularitalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('/gilroy-regularitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/gilroy-regularitalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/gilroy-regularitalic.svg#gilroy-regularitalic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-SemiBold';
	src: url('/gilroy-semibold.eot'); /* IE 9 Compatibility Mode */
	src: url('/gilroy-semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/gilroy-semibold.woff2') format('woff2'), /* Super Modern Browsers */
		url('/gilroy-semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/gilroy-semibold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/gilroy-semibold.svg#gilroy-semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-SemiBoldItalic';
	src: url('/gilroy-semibolditalic.eot'); /* IE 9 Compatibility Mode */
	src: url('/gilroy-semibolditalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/gilroy-semibolditalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('/gilroy-semibolditalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/gilroy-semibolditalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/gilroy-semibolditalic.svg#gilroy-semibolditalic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Thin';
	src: url('/gilroy-thin.eot'); /* IE 9 Compatibility Mode */
	src: url('/gilroy-thin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/gilroy-thin.woff2') format('woff2'), /* Super Modern Browsers */
		url('/gilroy-thin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/gilroy-thin.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/gilroy-thin.svg#gilroy-thin') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-ThinItalic';
	src: url('/gilroy-thinitalic.eot'); /* IE 9 Compatibility Mode */
	src: url('/gilroy-thinitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/gilroy-thinitalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('/gilroy-thinitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/gilroy-thinitalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/gilroy-thinitalic.svg#gilroy-thinitalic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-UltraLight';
	src: url('/gilroy-ultralight.eot'); /* IE 9 Compatibility Mode */
	src: url('/gilroy-ultralight.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/gilroy-ultralight.woff2') format('woff2'), /* Super Modern Browsers */
		url('/gilroy-ultralight.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/gilroy-ultralight.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/gilroy-ultralight.svg#gilroy-ultralight') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-UltraLightItalic';
	src: url('/gilroy-ultralightitalic.eot'); /* IE 9 Compatibility Mode */
	src: url('/gilroy-ultralightitalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/gilroy-ultralightitalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('/gilroy-ultralightitalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/gilroy-ultralightitalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/gilroy-ultralightitalic.svg#gilroy-ultralightitalic') format('svg'); /* Chrome < 4, Legacy iOS */
}


li a {
	text-decoration: none;
	list-style: none;
	color: #828282; 
	font-family: 'Gilroy-Bold';
	font-size: 18px;
	line-height: 22px;
	transition: .2s all linear;
	
	
}

li a:hover	{
	animation-name: color;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}

li a.kek	{
	color: black;
	transition: .2s all linear;
}

@keyframes color {
	100% {
		color:black
	}	
}

h3 {
	font-family: 'Gilroy-Bold';
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	padding-top: 120px;
	
}


p {
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	max-width: 485px;
	margin: auto;
	padding-top: 18px;
	padding-left: 30px;
	padding-right: 30px;
}



/*burger_menu_starts*/
.burger_menu	{
	width: 33px;
	height: 20px;
	display: none;
	position: relative;
	cursor: pointer;
}


.burger_menu_stripe	{
	width: 100%;
	height: 4px;
	background-color: black;
	position: relative;
	top: 50%;
	display: block;
}

.burger_menu_stripe::after	{
	content: '';
	width: 100%;
	height: 4px;
	background-color: black;
	position: absolute;
	top: 8px;
	display: block;
}

.burger_menu_stripe::before	{
	content: '';
	width: 100%;
	height: 4px;
	background-color: black;
	position: absolute;
	top: -8px;
	display: block;
}	
/*burger_menu_ends*/
/*navmenu_close_starts*/
.header_nav_close	{
	width: 33px;
	height: 33px;
	display: none;
	position: relative;
	cursor: pointer;
}

.header_nav_close_stripe	{
	width: 100%;
	height: 4px;
	background-color: #828282;
	position: relative;
	top: 50%;
	display: block;
	transform: rotate(45deg);
}

.header_nav_close_stripe::after	{
	content:'';
	width: 100%;
	height: 4px;
	background-color: #828282;
	position: relative;
	top: 50%;
	display: block;
	transform: rotate(-90deg) translateX(1px);
}

.lang_choice_main_mobile {
	display: none;
}

.header_active	{
	background: white;
	opacity: .7;
	padding-bottom: 33px;
}

.wrap   {
    max-width: 940px;
    margin: 0px auto;
	padding-left: 30px;
	padding-right: 30px;
}

@media screen and (max-width: 768px) {
	.header_active {
		opacity: 1;
	}


}

.header_active nav::after {
	display: none;
}

/*navmenu_close_ends*/
@media screen and (max-width: 974px) {
	.skills_grid	{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.header_nav	{
		max-width: 768px;
	}
	
}
@media screen and (max-width: 768px) {
	.skills_grid	{
		display: grid;
		grid-template-columns: 1fr;	
	}

	.skills_score_f	{
		padding-bottom: 98px;
	}

	.section_wrap	{
		display: block;
		position: relative;
		background-image: url(/mobile_header_pic.jpg);
		background-position: bottom center;
		background-repeat: no-repeat;
		
	}
	.header_title	{
		font-size: 47px;
		line-height: 58px;
		height: 106px;
		width: 124px;
		position: absolute;
		top:0px;
		left:0;
		padding-left: 26px;
	}

	.header_subtitle	{
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		
	}
	.burger_menu	{
		display: block;
		position: fixed;
		top: 53px;
		right: 0;
		padding-right: 26px;
		z-index: 9;
		
	}
	.header_picture	{
		display: none;
	}

	.lang_choice_main	{
		display:none;
	}
	.header_nav {
		display:none;
	}

	.header_subtitle {
		height: 44px;
		width: 155px;
		font-size: 18px;
		line-height: 22px;
		position: absolute;
		top: 85px;
		left:0;
		padding-left: 26px;
		text-justify: none;	
		font-family: 'Gilroy-Medium';
		padding-top: 23px;
}

	.header_nav	{
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 100%;
		height: 100%;
		background-color: white;
		position: fixed;
		z-index: 99;
		transform: translateX(100%);
		transition: .3s all linear;
	}

	.header_nav_active {
		transform: translateX(0);
	}

	.header_navlinks	{
		display: block;
		/* position: relative; */
		grid-column: 1/2;
		grid-row: 1/2;
		padding-left: 26px;
		width: 100%;
	}

	nav::after {
		display: none;
	}

	li a {
		text-decoration: none;
		list-style: none;
		color: #828282; 
		font-family: 'Gilroy-Bold';
		font-size: 34px;
		line-height: 68px;
	}
	
	li a:hover	{
		animation-name: color;
		animation-duration: 500ms;
		animation-fill-mode: forwards;
	}

	.header_nav_close	{
		display: block;
		grid-column: 2/3;
		/* grid-row: 1/2; */
		padding-right: 26px;
		top: 13px;
		justify-self: end;
	}
	
	.lang_choice_main_mobile {
		display: block;
		width: 100%;
		/* transform: rotate(-90deg) ; */
		align-self: center;
		transform: rotate(90deg) translateY(-50px);
		grid-column: 2/3;
		justify-self: end;
		right: 0;
	}

	.lang_choice	{
		font-family: 'Gilroy-Bold';
		font-size: 34px;
		line-height: 42px;
		width: 65px;
		text-decoration: none;
		color: #828282;
		text-transform: uppercase;
		align-self: center;

}	
}
