
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

li a {
	text-decoration: none;
	list-style: none;
	color: #828282; 
	font-family: 'Gilroy-Bold';
	font-size: 18px;
	line-height: 22px;
	transition: .2s all linear;
	
	
}

li a:hover	{
	animation-name: color;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}

li a.kek	{
	color: black;
	transition: .2s all linear;
}

@keyframes color {
	100% {
		color:black
	}	
}

h3 {
	font-family: 'Gilroy-Bold';
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	padding-top: 120px;
	
}


p {
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	max-width: 485px;
	margin: auto;
	padding-top: 18px;
	padding-left: 30px;
	padding-right: 30px;
}



/*burger_menu_starts*/
.burger_menu	{
	width: 33px;
	height: 20px;
	display: none;
	position: relative;
	cursor: pointer;
}


.burger_menu_stripe	{
	width: 100%;
	height: 4px;
	background-color: black;
	position: relative;
	top: 50%;
	display: block;
}

.burger_menu_stripe::after	{
	content: '';
	width: 100%;
	height: 4px;
	background-color: black;
	position: absolute;
	top: 8px;
	display: block;
}

.burger_menu_stripe::before	{
	content: '';
	width: 100%;
	height: 4px;
	background-color: black;
	position: absolute;
	top: -8px;
	display: block;
}	
/*burger_menu_ends*/
/*navmenu_close_starts*/
.header_nav_close	{
	width: 33px;
	height: 33px;
	display: none;
	position: relative;
	cursor: pointer;
}

.header_nav_close_stripe	{
	width: 100%;
	height: 4px;
	background-color: #828282;
	position: relative;
	top: 50%;
	display: block;
	transform: rotate(45deg);
}

.header_nav_close_stripe::after	{
	content:'';
	width: 100%;
	height: 4px;
	background-color: #828282;
	position: relative;
	top: 50%;
	display: block;
	transform: rotate(-90deg) translateX(1px);
}

.lang_choice_main_mobile {
	display: none;
}

.header_active	{
	background: white;
	opacity: .7;
	padding-bottom: 33px;
}


@media screen and (max-width: 768px) {
	.header_active {
		opacity: 1;
	}


}

.header_active nav::after {
	display: none;
}

/*navmenu_close_ends*/
@media screen and (max-width: 974px) {
	.skills_grid	{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.header_nav	{
		max-width: 768px;
	}
	
}
@media screen and (max-width: 768px) {
	.skills_grid	{
		display: grid;
		grid-template-columns: 1fr;	
	}

	.skills_score_f	{
		padding-bottom: 98px;
	}

	.section_wrap	{
		display: block;
		position: relative;
		/* background-image: url(../img/mobile_header_pic.jpg); */
		background-position: bottom center;
		background-repeat: no-repeat;
		
	}
	.header_title	{
		font-size: 47px;
		line-height: 58px;
		height: 106px;
		width: 124px;
		position: absolute;
		top:0px;
		left:0;
		padding-left: 26px;
	}

	.header_subtitle	{
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		
	}
	.burger_menu	{
		display: block;
		position: fixed;
		top: 53px;
		right: 0;
		padding-right: 26px;
		z-index: 9;
		
	}
	.header_picture	{
		display: none;
	}

	.lang_choice_main	{
		display:none;
	}
	.header_nav {
		display:none;
	}

	.header_subtitle {
		height: 44px;
		width: 155px;
		font-size: 18px;
		line-height: 22px;
		position: absolute;
		top: 85px;
		left:0;
		padding-left: 26px;
		text-justify: none;	
		font-family: 'Gilroy-Medium';
		padding-top: 23px;
}

	.header_nav	{
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 100%;
		height: 100%;
		background-color: white;
		position: fixed;
		z-index: 99;
		transform: translateX(100%);
		transition: .3s all linear;
	}

	.header_nav_active {
		transform: translateX(0);
	}

	.header_navlinks	{
		display: block;
		/* position: relative; */
		grid-column: 1/2;
		grid-row: 1/2;
		padding-left: 26px;
		width: 100%;
	}

	nav::after {
		display: none;
	}

	li a {
		text-decoration: none;
		list-style: none;
		color: #828282; 
		font-family: 'Gilroy-Bold';
		font-size: 34px;
		line-height: 68px;
	}
	
	li a:hover	{
		animation-name: color;
		animation-duration: 500ms;
		animation-fill-mode: forwards;
	}

	.header_nav_close	{
		display: block;
		grid-column: 2/3;
		/* grid-row: 1/2; */
		padding-right: 26px;
		top: 13px;
		justify-self: end;
	}
	
	.lang_choice_main_mobile {
		display: block;
		width: 100%;
		/* transform: rotate(-90deg) ; */
		align-self: center;
		transform: rotate(90deg) translateY(-50px);
		grid-column: 2/3;
		justify-self: end;
		right: 0;
	}

	.lang_choice	{
		font-family: 'Gilroy-Bold';
		font-size: 34px;
		line-height: 42px;
		width: 65px;
		text-decoration: none;
		color: #828282;
		text-transform: uppercase;
		align-self: center;

}	
}
