
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*header start*/
.wrap   {
    max-width: 940px;
    margin: 0px auto;
	padding-left: 30px;
	padding-right: 30px;
}

header	{
	max-width: 100%;
	margin: auto;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 10;
	transition: .2s linear;
}


nav	{
	margin-top: 33px;
	width: 940px;
	left: 0;
	right: 0;
	margin: auto;
	padding-top: 33px;
	
}

nav:after	{
	content: '';
	width: 100%;
	height: 1px;
	background-color: #828282;
	display: block;
	margin-top: 32px;
	transition: .2s all linear;
}



.header_navlinks	{
	display: flex;
	justify-content: space-between;
	padding: 0; 
	
}

li a {
	text-decoration: none;
	list-style: none;
	color: #828282; 
	font-family: 'Gilroy-Bold';
	font-size: 18px;
	line-height: 22px;
	transition: .2s all linear;
	
	
}

li a:hover	{
	animation-name: color;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}

li a.kek	{
	color: black;
	transition: .2s all linear;
}

@keyframes color {
	100% {
		color:black
	}	
}
.section_wrap	{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 2fr;
	height: 768px;
	align-items: center;
	margin-bottom: 104px;
	
	
}

.header_title	{
	font-family: 'Gilroy-Bold';
	font-size: 47.3392px;
	line-height: 59px;
	grid-column: 1/2;
	grid-row:1/2;
	width: 123px;
	align-items: end;
	transform: translateY(40px);
}

.header_subtitle	{
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	line-height: 22px;
	width: 155px;
	grid-column: 2/3;
	grid-row: 1/1;
	justify-self: center;
	transform: translateY(66px);
}

.lang_choice_main	{
	grid-column: 3/4;
	grid-row: 1/1;
	justify-self: self-end;
	width: 70px;
	transform: rotate(-90deg) translateY(27px) translateX(-51px);
	
}

.lang_choice	{
	font-family: 'Gilroy-Bold';
	font-size: 16px;
	line-height: 20px;
	width: 65px;
	text-decoration: none;
	color: #828282;
	text-transform: uppercase;
}

.lang_choice:hover	{
	animation-name: color-lang;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}

@keyframes color-lang {
	100%{
		color: black;
	}
	
}
.header_pic	{
	grid-column: 1/4;
	grid-row: 2/2;
	align-self: end;
	width: 100%;
	
}

.header_picture	{
	width: 100%;
	height: 100%;
}


/*header end*/
/*about me starts*/


.about	{
	display: block;
	height: 500px;
	background-color: #F6F6F6;
	width: 100%;
	/*position: relative;*/
}

h3 {
	font-family: 'Gilroy-Bold';
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	padding-top: 120px;
	
}


p {
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	max-width: 485px;
	margin: auto;
	padding-top: 18px;
	padding-left: 30px;
	padding-right: 30px;
}

.skills {
	height: 610;
}

.skills_title	{
	padding-top: 198px;
}

.skills_subtitle	{
	padding-top: 69px;
}
.skills_grid	{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding-top: 89px;
	gap: 90px;
	text-align: center;
}

.skill_pic	{
	height: 89px;
	width: 89px;
}
.skill_pic_f	{
	height: 89px;
	width: 58px;
}
.describe	{
	font-family: 'Gilroy-Bold';
	font-size: 14px;
	line-height: 17px;
	width: 80px;
	color: #828282;
	padding-top: 24px;
}

.skills_score	{
	height: 26px;
	width: 166.5px;
	padding-top: 41px;
	padding-bottom: 110px;
}

.skills_score_f	{
	height: 26px;
	width: 166.5px;
	padding-top: 57px;

}


.portfolio	{
	background-color:#F6F6F6;
	width: 100%;
}

.portfolio_title	{
	padding-bottom: 47px;
}

.example_pic	{
	display: block;
	margin-right:auto;
	margin-left: auto;
	text-align: center;
	padding-bottom:166px;
	position: relative;
	max-width: 940px;
	padding-left: 30px;
	padding-right: 30px;
}
.portfolio_pic	{
	width: 100%;
	height: 100%;
}

figcaption	{
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	text-decoration-line: underline;
	padding-top: 45px;
	padding-left: auto;
	padding-right: auto;
}

.contacts {
	text-align: center;
}
.contacts_title	{
	padding-top: 278px;
	
}
.contacts_subtitle	{
	width: 275px;
	padding-bottom: 30px;
	
}

.contacts_btn	{
	appearance: none;
	padding: 15px 30px 15px 30px;
	color: white;
	border: 0;
	border-radius: 25px;
	font-family: 'Gilroy-Bold';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	background-color: black;
	transition: .2s all linear;
	cursor: pointer;
	
}

.contacts_btn:hover	{
	opacity: .75;
}

.contacts_btn:focus	{
	opacity: .75;
}

.footer_grid	{
	margin: auto;
	max-width: 445px;
}
.social_media	{
	padding-top: 85px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
	justify-items: center;
	
	
}

.sm_anim {
	transition: .2s all linear;
}

.sm_anim:hover	{
	scale: 1.5;
}

@-webkit-keyframes shake {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
	}
	
	.sm_anim:active{
	-webkit-animation-name: shake;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	}
	.shake {
	display:inline-block;
	}
.footer_describe	{
	width: 240px;
	font-family: 'Gilroy-Medium';
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #828282;
	padding-top: 45px;
	padding-bottom: 125px;
}

/*burger_menu_starts*/
.burger_menu	{
	width: 33px;
	height: 20px;
	display: none;
	position: relative;
	cursor: pointer;
}


.burger_menu_stripe	{
	width: 100%;
	height: 4px;
	background-color: black;
	position: relative;
	top: 50%;
	display: block;
}

.burger_menu_stripe::after	{
	content: '';
	width: 100%;
	height: 4px;
	background-color: black;
	position: absolute;
	top: 8px;
	display: block;
}

.burger_menu_stripe::before	{
	content: '';
	width: 100%;
	height: 4px;
	background-color: black;
	position: absolute;
	top: -8px;
	display: block;
}	
/*burger_menu_ends*/
/*navmenu_close_starts*/
.header_nav_close	{
	width: 33px;
	height: 33px;
	display: none;
	position: relative;
	cursor: pointer;
}

.header_nav_close_stripe	{
	width: 100%;
	height: 4px;
	background-color: #828282;
	position: relative;
	top: 50%;
	display: block;
	transform: rotate(45deg);
}

.header_nav_close_stripe::after	{
	content:'';
	width: 100%;
	height: 4px;
	background-color: #828282;
	position: relative;
	top: 50%;
	display: block;
	transform: rotate(-90deg) translateX(1px);
}

.lang_choice_main_mobile {
	display: none;
}

.header_active	{
	background: white;
	opacity: .7;
	padding-bottom: 33px;
}


@media screen and (max-width: 768px) {
	.header_active {
		opacity: 1;
	}


}

.header_active nav::after {
	display: none;
}

/*navmenu_close_ends*/
@media screen and (max-width: 974px) {
	.skills_grid	{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.header_nav	{
		max-width: 768px;
	}
	
}
@media screen and (max-width: 768px) {
	.skills_grid	{
		display: grid;
		grid-template-columns: 1fr;	
	}

	.skills_score_f	{
		padding-bottom: 98px;
	}

	.section_wrap	{
		display: block;
		position: relative;
		background-image: url(../img/mobile_header_pic.jpg);
		background-position: bottom center;
		background-repeat: no-repeat;
		
	}
	.header_title	{
		font-size: 47px;
		line-height: 58px;
		height: 106px;
		width: 124px;
		position: absolute;
		top:0px;
		left:0;
		padding-left: 26px;
	}

	.header_subtitle	{
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		
	}
	.burger_menu	{
		display: block;
		position: fixed;
		top: 53px;
		right: 0;
		padding-right: 26px;
		z-index: 9;
		
	}
	.header_picture	{
		display: none;
	}

	.lang_choice_main	{
		display:none;
	}
	.header_nav {
		display:none;
	}

	.header_subtitle {
		height: 44px;
		width: 155px;
		font-size: 18px;
		line-height: 22px;
		position: absolute;
		top: 85px;
		left:0;
		padding-left: 26px;
		text-justify: none;	
		font-family: 'Gilroy-Medium';
		padding-top: 23px;
}

	.header_nav	{
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 100%;
		height: 100%;
		background-color: white;
		position: fixed;
		z-index: 99;
		transform: translateX(100%);
		transition: .3s all linear;
	}

	.header_nav_active {
		transform: translateX(0);
	}

	.header_navlinks	{
		display: block;
		/* position: relative; */
		grid-column: 1/2;
		grid-row: 1/2;
		padding-left: 26px;
		width: 100%;
	}

	nav::after {
		display: none;
	}

	li a {
		text-decoration: none;
		list-style: none;
		color: #828282; 
		font-family: 'Gilroy-Bold';
		font-size: 34px;
		line-height: 68px;
	}
	
	li a:hover	{
		animation-name: color;
		animation-duration: 500ms;
		animation-fill-mode: forwards;
	}

	.header_nav_close	{
		display: block;
		grid-column: 2/3;
		/* grid-row: 1/2; */
		padding-right: 26px;
		top: 13px;
		justify-self: end;
	}
	
	.lang_choice_main_mobile {
		display: block;
		width: 100%;
		/* transform: rotate(-90deg) ; */
		align-self: center;
		transform: rotate(90deg) translateY(-50px);
		grid-column: 2/3;
		justify-self: end;
		right: 0;
	}

	.lang_choice	{
		font-family: 'Gilroy-Bold';
		font-size: 34px;
		line-height: 42px;
		width: 65px;
		text-decoration: none;
		color: #828282;
		text-transform: uppercase;
		align-self: center;

}	
}
