.section_wrap	{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 2fr;
	height: 768px;
	align-items: center;
	margin-bottom: 104px;
	
	
}

.about	{
	display: block;
	height: 500px;
	background-color: #F6F6F6;
	width: 100%;
	/*position: relative;*/
}



.skills {
	height: 610;
}

.skills_title	{
	padding-top: 198px;
}

.skills_subtitle	{
	padding-top: 69px;
}
.skills_grid	{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding-top: 89px;
	gap: 90px;
	text-align: center;
}

.skill_pic	{
	height: 89px;
	width: 89px;
}
.skill_pic_f	{
	height: 89px;
	width: 58px;
}
.describe	{
	font-family: 'Gilroy-Bold';
	font-size: 14px;
	line-height: 17px;
	width: 80px;
	color: #828282;
	padding-top: 24px;
}

.skills_score	{
	height: 26px;
	width: 166.5px;
	padding-top: 41px;
	padding-bottom: 110px;
}

.skills_score_f	{
	height: 26px;
	width: 166.5px;
	padding-top: 57px;

}


.portfolio	{
	background-color:#F6F6F6;
	width: 100%;
}

.portfolio_title	{
	padding-bottom: 47px;
}

.example_pic	{
	display: block;
	margin-right:auto;
	margin-left: auto;
	text-align: center;
	padding-bottom:166px;
	position: relative;
	max-width: 940px;
	padding-left: 30px;
	padding-right: 30px;
}
.portfolio_pic	{
	width: 100%;
	height: 100%;
}

.figcaption	{
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	text-decoration-line: underline;
	padding-top: 45px;
	padding-left: auto;
	padding-right: auto;
}

.contacts {
	text-align: center;
}
.contacts_title	{
	padding-top: 278px;
	
}
.contacts_subtitle	{
	width: 275px;
	padding-bottom: 30px;
	
}

.contacts_btn	{
	appearance: none;
	padding: 15px 30px 15px 30px;
	color: white;
	border: 0;
	border-radius: 25px;
	font-family: 'Gilroy-Bold';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	background-color: black;
	transition: .2s all linear;
	cursor: pointer;
	
}

.contacts_btn:hover	{
	opacity: .75;
}

.contacts_btn:focus	{
	opacity: .75;
}