.footer_grid	{
	margin: auto;
	max-width: 445px;
}
.social_media	{
	padding-top: 85px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
	justify-items: center;
	
	
}

.sm_anim {
	transition: .2s all linear;
}

.sm_anim:hover	{
	scale: 1.5;
}

@-webkit-keyframes shake {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
	}
	
	.sm_anim:active{
	-webkit-animation-name: shake;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	}
	.shake {
	display:inline-block;
	}
.footer_describe	{
	width: 240px;
	font-family: 'Gilroy-Medium';
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #828282;
	padding-top: 45px;
	padding-bottom: 125px;
}