.wrap   {
    max-width: 940px;
    margin: 0px auto;
	padding-left: 30px;
	padding-right: 30px;
}

.section_wrap	{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 2fr;
	height: 768px;
	align-items: center;
	margin-bottom: 104px;
	
	
}

.portfolio	{
	background-color:#F6F6F6;
	width: 100%;
}

.portfolio_title	{
	padding-bottom: 47px;
}



